@import url("./default.css");
@import url("./fonts.css");
body{
    background: url(../img/hero.jpg) no-repeat;
    background-size: contain;
    font-family: "MuseoSansCyrl";
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    max-width: 1920px;
    min-height: 850px;
    margin: 0 auto;
}
header{
    
}
a{
    color: #fff;
}

h1{
    font-size: 50px;
    line-height: 60px;
    color: #fff;
}
h2{
    font-size: 50px;
    font-weight: 900;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
.container{
    width: 1300px;
    margin: 0 auto;
    outline: 0px solid red;

}
/*код для бокового меню*/
.side-menu{
    position: fixed;
    line-height: 21px;
    right: 52px;
    top: 30%;
    border-right: 2px solid #ccc;
}
.side-menu li:has(a.active){
    border-right: 3px solid #fff;
}
.side-menu li{
    padding-right: 2px;
}
.side-menu a{
    color: #ccc;
    display: block;
    padding: 12px;
}
.side-menu a.active{
    color: #fff;
    font-weight: 700;
    cursor: default;
}

.side-menu a:hover{
    color: #fff; 
}

/*header*/
header{
    padding: 17px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    margin-bottom: 6%;
}
.site-nav{
    display: flex;
    align-items: center;
    font-weight: 400;
}
.site-nav a::after{
    content: " ";
    display: block;
    background-color: #FF3046;
    width: 0;
    height: 2px;
    margin: 4px auto 0 auto;
    position: absolute;
    left: 25%;
}
.site-nav li:hover:not(:last-child) a::after{
    width: 51%;
}
.site-nav li{
    position: relative;
    margin: 0 30px;
}
.site-nav li:last-child{
    margin-right: 0;
}
.site-nav li:last-child a{
    display: block;
    padding: 10px 20px;
    color: #FF3047;
    background-color: #fff;
}
.site-nav li a{

    border-radius: 5px;
    font-size: 14px;
}
/* Блок hero*/
#hero{
    margin-bottom: 190px;
}

.data-hero{
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    margin-bottom: 22px;
    margin-bottom: 1.6%;
}
#hero h1{
    width: 95%;
    margin-bottom: 37px;
    margin-bottom: 3%;
}
#hero p{
    line-height: 36px;
    font-size: 20px;
    margin-bottom: 51px;
    margin-bottom: 4%;
}
.present-download{
    display: block;
    font-size: 20px;
    line-height: 29px;

    border-radius: 5px;
    width: 237px;
    padding: 20px 37px 19px 81px;
    background: #FF2A42 url(../img/pdf-ico.png) no-repeat 28px center;
}

/* Блок technology*/
#technology{
    padding: 115px 0 95px 0;
    position: relative;
}
#technology .container{
    position: relative;

}
#technology h2{
    line-height: 54px;
    color: #202020;
    text-align: center;
    margin-bottom: 66px;
    
} 
#technology a{
    color: #626262;
}
.slide-links{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 14px;
}
.slide-links li{
    width: 21.2%;
    margin: 0 1%;
}
.slide-link p{
    margin-top: 15px;
}
.slider{
    position: relative;
    width: 80%;
    margin: 0 auto;
    color: #202020;
    overflow: hidden;
}
.slider-prev,
.slider-next{
    cursor: pointer;
    position: absolute;
    top: 66%;
}
.slider-prev{
    left: -60px;
}
.slider-next{
    right: -60px;
}
.slider-next svg{
    transform: rotate(180deg);
}
.slider-prev:hover path,
.slider-next:hover path{
    stroke: #C91226;
}
.slides{
    display: flex;
    transition: transform 0.5s ease;

}
.slide{
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slide-img{
    width: 35%;
}
.slide-img img{
    max-width: 100%;
    height: auto;
}
.descript-slide{
    width: 48%;
}
.descript-slide h3{
    font-size: 37px;
    margin: 10px 0 25px 0;

}
.descript-slide p{
    line-height: 25px;
}
.slide-ico{
    display: inline-block;
    height: 60px;
    position: relative;
}
.ico-active{
    position: absolute;
    left: 0;
    display: none;
    top: 0;
}
.slide-link.active p{
    color: #C91226;
}
.slide-link.active .ico-active{
    display: block;
}

/*блог advanc-sol*/
#advanc-sol{
    background: 
        url(../img/solutions-left-bg.png) no-repeat top left,
        #2E2E2E url(../img/solutions-right-bg.png) no-repeat right 58px;
    padding: 146px 0 144px 0;
    box-shadow: 0px 3px 4px 2px #2E2E2E;
    position: relative;
    z-index: 100;
}
.advance-block{
    width: 31%;
}
.advance-list{
    font-size: 18px;
    line-height: 28px;
    margin: 70px 0 60px 0;
}
.advance-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.advance-img{
    width: 60px;
    margin-right: 33px;
}
.advance-img img{
    vertical-align: middle;
}
.advanc-descript{
    font-size: 14px;
    line-height: 22px;
}
.advanc-descript p{
    margin-top: 6px;
}


/*advant-partners блок*/
#advant-partners{
    background: url(../img/advant-decor.svg) 22px 95px no-repeat,
    linear-gradient(to right,#C91226 50%, #FBFBFB 50%);
    padding: 140px 0 110px 0;
    
}
#advant-partners .container{
    display: flex;
}
.advant, .partners{
    width: 50%;
}
.advant h2{
    line-height: 66px;
    margin-bottom: 63px;
}
.advant-list{
    width: 65%;
    font-size: 20px;
    line-height: 28px;

}
.advant-list li{
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}
.advant-img{
    margin-right: 42px;
}
.advant-img img{
    vertical-align: middle;
}
.partners{
    padding: 6px 0 0 45px;
    box-sizing: border-box;
}
.partners h2{
    color: #202020;
    line-height: 54px;
    margin-bottom: 127px;
    margin-left: 16px;
}
.partner-list{
    display: flex;
    flex-wrap: wrap;
}
.partner-list li{
    width: 25%;
    text-align: center;
    margin-bottom: 60px;
}


/*managment*/
#managment{
    color: #202020;
    padding: 136px 0 92px 0;
    background: url(../img/manag-decor.png)no-repeat 5px 10px,
    url(../img/manag-decor.png)no-repeat 86% 138%;
}
#managment .logo{
    margin-bottom: 20px;
}
#managment h2{
    line-height: 72px;
    margin-bottom: 64px;
}
.managment-blog{
    display: flex;
}
.managment-blog ol{
    width: 50%;
    counter-reset: list-counter;
    box-sizing: border-box;
}
.managment-blog li {
    counter-increment: list-counter; /* Увеличиваем счётчик */
    position: relative;
}
  
.managment-blog li::before {
    content: counter(list-counter); /* Вставляем номер */
    position: absolute;
    left: -19px;
    top: 26px;
    background: rgba(201, 18, 38, 1); /* Фон номера */
    color: white; /* Цвет текста */
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Скругляем до круга */
    font-size: 20px;
}

.managment-list li{
    border: 1px solid rgba(0, 0, 0, 0.13);
    width: 76%;
    padding: 30px 35px;
    margin-bottom: 29px;
    border-radius: 5px;
}
#managment h3{
    line-height: 26px;
}
.managment-list p{
    color: #717171;
    font-size: 14px;
    line-height: 22px;
    margin-top: 17px; 
}
.interests-list{
    background: url(../img/control-ico.svg) no-repeat 126px 160px,
    url(../img/interests-circle.png) no-repeat -33px 10px;
    line-height: 23px;
    padding: 21px 0 0 282px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
.interests-list li::before{
    top: 2px;
    left: -6px;
}
.interests-list li{
    padding: 8px 50px;
    margin-bottom: 57px;
}
.interests-list li:not(:first-child,:last-child){
    margin-left: 58px;
}